<html lang="en">
<head>
  <title>Beginning Python Course</title>
  <meta name="viewport" content="width=device-width">
  <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;900&display=swap" rel="stylesheet">
  <style>
    body {
      font-family: 'Inter', sans-serif;
      margin: auto;
      max-width: 700px;
      padding: 1em;    
      background: white;
      color: #222;
    }
    a,a:visited {
      color: blue;
    }

    @media (prefers-color-scheme: dark) {
      body {
        background: black;
        color: white;
      }
      a,a:visited {
        color: yellow;
      }
    }
  </style>
</head>
<body>
  <header>
    <h1>Beginning Python Course</h1>
    <nav>

    </nav>
  </header>
  <main>
    {{content}}
  </main>
  <footer>
  </footer>
</body>
</html>